html, body {
    height: 100%;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2014/04/16/17/08/bulletin-board-325721_1280.jpg);
    background-size:  cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    color: black;
}

.background {
    
   background-position: center ;
   background-size: 100% auto;
    background-repeat: no-repeat;
    
}

.form-group {
    background-image:url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000);
    background-position: center ;
   background-size: 100% auto;
}

.note {
    background-image:url(assets/images/note.jpg);
    background-size: cover;
    padding: 20px;
    margin: 15px;
}

.note-text {
    padding: 20px;
    
}

#taskList {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}