@import url("https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

input[type="date"] {
  font-size: x-large;
}
/* 
.date {
  font-size: xx-large; // replace 'medium' with your preferred font size
} */

.note .note-field-container:nth-child(3) .value {
  font-size: medium;
  text-decoration: none;
}

.headline-font {
  font-family: "Nanum Pen Script", cursive;
  font-size: larger;
  border-bottom: 2px;
  text-decoration: underline;
}



.header {
  color: black;
  font-family: "Anton", sans-serif, "Urbanist", sans-serif;
}

.font-change {
  font-family: "Bebas Neue", sans-serif;
}

.value {
  font-family: "Bebas Neue", sans-serif;
  word-break: break-word;
  max-height: 73px;
  overflow-y: auto;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background {
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.form-group {
  background-image: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000);
  background-position: center;
  background-size: 100% auto;
}

.note {
  position: relative;
  background-image: url("../images/note.jpg");
  background-size: cover;
  padding: 27px 16px;
  margin: 15px;
  width: 183px;
  height: 247px;
  flex-wrap: wrap;
}

.btn-note-submit {
  position: absolute;
  top: 20px;
  right: 11px;
  border-radius: 50%;
  font-size: 15px;
  width: 25px;
  height: 25px;
  line-height: 12px;
}

.btn-note-submit:hover {
  background: #ff1100;
}
.note > .note-field-container {
  text-align: start;
  margin-bottom: 2px;
  width: 100%;
}

.note .note-field-container .value {
  word-break: break-word;
  max-height: 73px;
  overflow-y: auto;
}

.note-text {
  padding: 20px;
}

li {
  list-style-type: none;
}

#taskList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
